.navbar {
    background-color: #2B2B2B !important;
}
.dropdown-menu, .dropdown-item {
    background-color: #2B2B2B !important;
}
.navbar-brand:link, .navbar-brand:visited {
    color: deepskyblue !important;
}
.navbar-brand:hover, .navbar-brand:active {
    color: white !important;
}
.navbar li a:link, .navbar li a:visited {
    color: white !important;
}
.navbar li a:hover, .navbar li a:active {
    color: deepskyblue !important;
}
body{
    background-image: url("../storage/images/bg-01.jpg");
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
}
.jumbotron{
    background-image: url("../storage/images/jumbotron-bg.jpg");
    color: white !important;
    background-size: cover;
}
.card-header{
   background-color: deepskyblue !important;
   color: white;
}
.card-body{
    color: #2b2b2b !important;
}

.btn-primary {
    background-color: deepskyblue !important;
    border: none;
}

.btn-primary:hover {
    background-color: #2b2b2b !important;
}

.no-padding{
  padding: 0;
}
